.barraSuperior{
	text-align: center;
	height: 300px;
	margin-top: 40px;
}

.senhaAtual{
	text-align: center;
	background-color:#0000CD;
	/* background-color:#e67f2d; /* Periapical */
	/* background-color:#d377bd;	/* Boca Toda */
	/* background-color:#5ab0d0;	/* Doc */
	/* background-color:#47d867;	/* Tomo */
	/* background-color:#d0d5d8;	/* Pan/Tele */
	/* background-color:#ebe41b;	/* Scaneamento */
	color: white;
	margin-top: 10px;
	height: 220px;
}

.senhaAtualTexto{
	font-size: 120pt;
	font-weight: 800;
}

#senhaAtualNumero{
	font-size: 120pt;
	font-weight: 800;
}

.ultimaSenha{
	font-weight: 800;
	text-align: center;
	background-color: #ccc;
	height: 110px;
	margin-top: 20px;
}

#ultimaSenhaTexto{
	font-size: 20px;
	color: #a50;
}

#ultimaSenhaNumero{
	font-size: 40px;
	color: black;
}

.dpiLogo{
	max-width: 400px;
}

.imagemLogo{
	max-width: 400px;
}

.dpiTexto{
	font-size: 27pt;
	font-weight: 800;
	color: #168f3f;
}

.subtitulo{
	font-size: 30px;
	font-weight: 400;
}

audio{
	display: none;
}